<ul class="nav navbar-nav navbar-right">
    <li class="dropdown sonata-actions">
        <a href="#" class="dropdown-toggle sonata-ba-action" data-toggle="dropdown">
            <i class="fa fa-save" aria-hidden="true"></i>
            {{ 'link_custom_filters'|trans({}, 'SonataAdminBundle') }}
            <b class="caret"></b>
        </a>

        <ul class="dropdown-menu" role="menu"></ul>
    </li>
</ul>
